 <%@ page language="java" contentType="text/html; charset=UTF-8" pageEncoding="UTF-8"%>
 <!-- Footer -->
 <div class="container">
     <div class="row">
         <footer id="footer">
                 <div class="col-md-4">
                     <div class="logo-footer">
                         <a href="/">
                             <img src="https://studyforus.com/files/attach/images/36442/e3c6fe7524278d20b37253bc304f62b0.png" alt="logo-footer">
                         </a>
                     </div>
                 </div>
                 <div class="col-md-8" style="margin-top: 10px;">
                     <address class="contact-info-i">
                         <p>개발, 드론 및 취미 집합소!</p>
                     </address>
                     <address class="contact-info">
                         <p class="address">홈:ilovehub.co.kr</p>
                         <p class="email">이메일:ilovesecu@gmail.com</p>
                     </address>
                 </div>
         </footer>
     </div>
     <div class="row">
         <footer id="footer-bottom">
         
                 <div class="col-md-12">
                     <p class="copyright">
                         Copyright© 2019 
                         <a href="/" style="color:#ffffff;">iloveHub</a>
                         All rights reserved.<br>
                         각 게시글의 책임과 권한은 각 게시자에게 있습니다.
                     </p>
                 </div>
         </footer>
     </div>
 </div>
 <!-- ./end of footer -->
  <!-- BootStrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="/resources/js/bootstrap/bootstrap.min.js"></script>
<!-- banner JS -->
<script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script> 
<script src="/resources/js/main_banner.js"></script>
<!-- TAB JS -->
<script src="/resources/js/custom/tabSelector.js"></script>
