<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="org.bamboo.ilovehub.mapper.BoardMapper">
  	<resultMap id="ContainInitWriteVOMap" type="org.bamboo.ilovehub.domain.ContainInitWriteVO">
  		<id property="bcvo.classificationCode" column="classification_code"/>
  		<association property="bcvo" javaType="org.bamboo.ilovehub.domain.BoardClassificationVO">
  			<id property="classificationCode" column="classification_code"/>
  			<result property="classificationText" column="classification_text"/>
  			<result property="desc" column="desc"/>
		</association>
		<collection  property="bpvos" javaType="java.util.ArrayList" ofType="org.bamboo.ilovehub.domain.BoardPrefaceVO">
  			<id property="code" column="code"/>
  			<result property="codeExplain" column="code_explain"/>
		</collection>
  	</resultMap>
  	<resultMap id="getBoardsMap" type="org.bamboo.ilovehub.domain.BoardVO">
  		<id property="boardId" column="board_id"/>
  		<result property="classificationCode" column="classification_code"/>
	    <result property="title" column="title"/>
	    <result property="contents" column="contents"/>
	    <result property="writer" column="writer"/>
	    <result property="regDate" column="reg_date"/>
	    <result property="views" column="views"/>
	    <result property="recommendations" column="recommendations"/>
	    <result property="contents" column="contents"/>
	    <association property="preface" javaType="org.bamboo.ilovehub.domain.BoardPrefaceVO">
  			<id property="code" column="classification_code"/>
  			<result property="codeExplain" column="code_explain"/>
		</association>
  	</resultMap>
  	<!-- <resultMap id="ContainInitWriteVOMap" type="hashMap">
  		<id property="bcvo.classificationCode" column="classification_code"/>
  		<association property="bcvo" javaType="org.bamboo.ilovehub.domain.BoardClassificationVO">
  			<result property="classificationText" column="classification_text"/>
  			<result property="desc" column="desc"/>
		</association>
		<collection  property="bpvos" javaType="java.util.ArrayList" ofType="org.bamboo.ilovehub.domain.BoardPrefaceVO">
  			<id property="code" column="code"/>
  			<result property="codeExplain" column="code_explain"/>
		</collection>
  	</resultMap> -->
  	
  	<select id="getWriteInit" resultMap="ContainInitWriteVOMap">
  		select
			apc.code,
			apc.code_explain,
			bcc.*
		from
			board_classification_code bcc
		left outer join board_article_classifiction_map bacm on
			bacm.board_classification_code = bcc.classification_code
		left outer join article_preface_code apc on
			apc.code = bacm.article_preface_code
		where
			bcc.classification_text = #{classificationText}
		order by
			apc.order asc
  	</select>
  	<select id="getBoards" parameterType="String" resultMap="getBoardsMap">
  		select
			b.*, apc.code, apc.code_explain
		from
			board b
		inner join board_classification_code bcc on
			b.classification_code = bcc.classification_code
		left join article_preface_code apc on
		    b.preface_code = apc.code
		where
			bcc.classification_text = 'tech' and b.is_del='N'
		order by
			board_id desc
  	</select>
  	<insert id="regArticle" useGeneratedKeys="true" keyProperty="boardVO.boardId" 
  			 parameterType="org.bamboo.ilovehub.domain.BoardVO">
  		insert into board (
  			classification_code,
			preface_code,
			title,
			contents,
			writer,
			reg_date,
			is_public,
			permit_reply 
		)VALUES(
			#{boardVO.classificationCode},
			#{boardVO.preface.code},
			#{boardVO.title},
			#{boardVO.contents},
			#{boardVO.writer},
			CURRENT_TIMESTAMP(),
			#{boardVO.isPublic},
			#{boardVO.permitReply}
		)
  	</insert>
  	<insert id="regTag" useGeneratedKeys="true" keyProperty="tagId"
  		parameterType="org.bamboo.ilovehub.domain.TagVO">
  		insert into board_tag (tag) values (#{tag}) ON DUPLICATE KEY UPDATE tagging_cnt = tagging_cnt + 1;
  	</insert>
  	<insert id="regBoardTagMap" parameterType="Long">
  		insert into board_tag_map (tag_id,board_id,reg_date) values (#{tagId},#{boardId},CURRENT_TIMESTAMP())
  	</insert>
  </mapper>