<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="org.bamboo.ilovehub.mapper.BoardMapper">
  	<resultMap id="ContainInitWriteVOMap" type="org.bamboo.ilovehub.domain.ContainInitWriteVO">
  		<id property="bcvo.classificationCode" column="classification_code"/>
  		<association property="bcvo" javaType="org.bamboo.ilovehub.domain.BoardClassificationVO">
  			<id property="classificationCode" column="classification_code"/>
  			<result property="classificationText" column="classification_text"/>
  			<result property="desc" column="desc"/>
		</association>
		<collection  property="bpvos" javaType="java.util.ArrayList" ofType="org.bamboo.ilovehub.domain.BoardPrefaceVO">
  			<id property="code" column="code"/>
  			<result property="codeExplain" column="code_explain"/>
		</collection>
  	</resultMap>
  	<!-- 게시글 목록 맵 -->
  	<resultMap id="getBoardsMap" type="org.bamboo.ilovehub.domain.BoardVO">
  		<id property="boardId" column="board_id"/>
	    <result property="title" column="title"/>
	    <result property="writer" column="writer"/>
	    <result property="regDate" column="reg_date"/>
	    <result property="views" column="views"/>
	    <result property="recommendations" column="recommendations"/>
	    <association property="preface" javaType="org.bamboo.ilovehub.domain.BoardPrefaceVO">
  			<id property="code" column="classification_code"/>
  			<result property="codeExplain" column="code_explain"/>
		</association>
  	</resultMap>
  	<!-- 게시글 상세 맵 -->
  	<resultMap id="getBoardsDetail" type="org.bamboo.ilovehub.domain.BoardVO">
  		<id property="boardId" column="board_id"/>
	    <result property="title" column="title"/>
	    <result property="writer" column="writer"/>
	    <result property="contents" column="contents"/>
	    <result property="regDate" column="reg_date"/>
	    <result property="views" column="views"/>
	    <result property="recommendations" column="recommendations"/>
	    <association property="preface" javaType="org.bamboo.ilovehub.domain.BoardPrefaceVO">
  			<result property="codeExplain" column="code_explain"/>
		</association>
		<collection  property="tags" javaType="java.util.ArrayList" ofType="org.bamboo.ilovehub.domain.TagVO">
  			<id property="tagId" column="tag_id"/>
  			<result property="tag" column="tag"/>
		</collection>
  	</resultMap>
  	<!-- <resultMap id="ContainInitWriteVOMap" type="hashMap">
  		<id property="bcvo.classificationCode" column="classification_code"/>
  		<association property="bcvo" javaType="org.bamboo.ilovehub.domain.BoardClassificationVO">
  			<result property="classificationText" column="classification_text"/>
  			<result property="desc" column="desc"/>
		</association>
		<collection  property="bpvos" javaType="java.util.ArrayList" ofType="org.bamboo.ilovehub.domain.BoardPrefaceVO">
  			<id property="code" column="code"/>
  			<result property="codeExplain" column="code_explain"/>
		</collection>
  	</resultMap> -->
  	
  	<select id="getWriteInit" resultMap="ContainInitWriteVOMap">
  		select
			apc.code,
			apc.code_explain,
			bcc.*
		from
			board_classification_code bcc
		left outer join board_article_classifiction_map bacm on
			bacm.board_classification_code = bcc.classification_code
		left outer join article_preface_code apc on
			apc.code = bacm.article_preface_code
		where
			bcc.classification_text = #{classificationText}
		order by
			apc.order asc
  	</select>
  	<select id="getBoards" parameterType="org.bamboo.ilovehub.domain.Criteria" resultMap="getBoardsMap">
  		select
			 b.board_id,
			 b.title,
			 b.writer,
			 b.reg_date,
			 b.views,
			 b.recommendations,
			 apc.code,
			 apc.code_explain
		from
			board b
		inner join board_classification_code bcc on
			b.classification_code = bcc.classification_code
		left join article_preface_code apc on
		    b.preface_code = apc.code
		where
			bcc.classification_text = #{classificationText} and b.is_del='N'
		order by
			board_id desc
		limit #{pageStart}, #{perPageBoardNum}
  	</select>
  	<select id="getTotal" parameterType="java.lang.String" resultType="int">
  		SELECT COUNT(*) FROM board a INNER JOIN board_classification_code b ON a.classification_code = b.classification_code AND b.classification_text=#{classificationText}
  	</select>
  	<select id="getBoardDetail" parameterType="hashmap" resultMap="getBoardsDetail">
  		SELECT 
		  b.board_id,
		  b.title,
		  b.contents,
		  b.writer,
		  b.reg_date,
		  b.views,
		  b.recommendations,
		  apc.code_explain,
		  bt.tag_id,
		  bt.tag
		FROM
		  board b 
		  INNER JOIN board_classification_code bcc 
		    ON b.classification_code = bcc.classification_code 
		  LEFT JOIN article_preface_code apc 
		    ON b.preface_code = apc.code
		  LEFT JOIN board_tag_map btm
		    ON b.board_id=btm.board_id
		  LEFT JOIN board_tag bt
		    ON btm.tag_id=bt.tag_id
		WHERE bcc.classification_text = #{boardType} 
		  AND b.is_del = 'N' 
		  AND b.board_id=#{boardId}
  	</select>
  	<select id="getFilesInfo" parameterType="Long" resultType="org.bamboo.ilovehub.domain.AttachFileVO">
  		SELECT UUID,upload_path,original_file,file_type FROM board_file WHERE board_id=#{boardId}
  	</select>
  	<insert id="regArticle" useGeneratedKeys="true" keyProperty="boardVO.boardId" 
  			 parameterType="org.bamboo.ilovehub.domain.BoardVO">
  		insert into board (
  			classification_code,
			preface_code,
			title,
			contents,
			writer,
			reg_date,
			is_public,
			permit_reply 
		)VALUES(
			#{boardVO.classificationCode},
			#{boardVO.preface.code},
			#{boardVO.title},
			#{boardVO.contents},
			#{boardVO.writer},
			CURRENT_TIMESTAMP(),
			#{boardVO.isPublic},
			#{boardVO.permitReply}
		)
  	</insert>
  	<insert id="regTag" useGeneratedKeys="true" keyProperty="tagId"
  		parameterType="org.bamboo.ilovehub.domain.TagVO">
  		insert into board_tag (tag) values (#{tag}) ON DUPLICATE KEY UPDATE tagging_cnt = tagging_cnt + 1;
  	</insert>
  	<insert id="regBoardTagMap" parameterType="Long">
  		insert into board_tag_map (tag_id,board_id,reg_date) values (#{tagId},#{boardId},CURRENT_TIMESTAMP())
  	</insert>
  	
  	<!-- 첨부파일 저장 -->
  	<insert id="regFile" parameterType="org.bamboo.ilovehub.domain.AttachFileVO">
  		INSERT INTO board_file (
		    uuid,
		    board_id,
		    upload_path,
		    original_file,
		    file_size,
		    file_type,
		    upload_date
		)VALUES(
		   #{uuid},
		   #{boardId},
		   #{uploadPath},
		   #{originalFile},
		   #{fileSize},
		   #{fileType},
		   NOW()
		)
  	</insert>
  	<!-- 첨부파일 삭제 -->
  	<delete id="deleteFile" parameterType="java.lang.String">
  		DELETE FROM board_file WHERE uuid=#{uuid}
  	</delete>
  </mapper>